<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.mapper.CoffeeMapper">
  <resultMap id="BaseResultMap" type="com.coffee.entity.CoffeeEntity">
    <!--@Table coffee-->
    <id column="coffee_id" jdbcType="INTEGER" property="coffeeId" />
    <result column="coffee_name" jdbcType="VARCHAR" property="coffeeName" />
    <result column="coffee_prices" jdbcType="DOUBLE" property="coffeePrices" />
    <result column="coffee_discount" jdbcType="DOUBLE" property="coffeeDiscount" />
    <result column="coffee_status" jdbcType="INTEGER" property="coffeeStatus" />
    <result column="stock_id" jdbcType="INTEGER" property="stockId" />
    <result column="coffee_is_new" jdbcType="INTEGER" property="coffeeIsNew" />
    <result column="coffee_is_hot" jdbcType="INTEGER" property="coffeeIsHot" />
    <result column="coffee_level" jdbcType="INTEGER" property="coffeeLevel" />
    <result column="coffee_brief" jdbcType="VARCHAR" property="coffeeBrief" />
    <result column="coffee_details" jdbcType="VARCHAR" property="coffeeDetails" />
    <result column="coffee_photo" jdbcType="VARCHAR" property="coffeePhoto" />
  </resultMap>
  <sql id="Base_Column_List">
    c.coffee_id, coffee_name, coffee_prices, coffee_discount, coffee_status, c.stock_id,
    coffee_is_new, coffee_is_hot, coffee_level, coffee_brief, coffee_details, coffee_photo
  </sql>

  <!--查询满足条件的咖啡信息-->
  <select id="selectCoffee" resultType="com.coffee.entity.CoffeeEntity">
    select <include refid="Base_Column_List"></include>,s.stock_count stockCount
    from coffee c
    left join stocks s on c.coffee_id = s.coffee_id
    <where>
      <if test="coffeeName != null and coffeeName != ''">
        coffee_name like concat('%',#{coffeeName,jdbcType=VARCHAR},'%')
      </if>
      <if test="startPrices != null and endPrices != null">
        and coffee_prices between #{startPrices,jdbcType=DOUBLE} and #{endPrices,jdbcType=DOUBLE}
      </if>
      <if test="coffeeStatus != -1">
        and coffee_status = #{coffeeStatus,jdbcType=INTEGER}
      </if>
    </where>
  </select>

</mapper>