<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.coffee.entity.OrderDetailEntity">
    <!--@mbg.generated generated on Sun Apr 05 21:12:04 CST 2020.-->
    <!--@Table order_detail-->
    <id column="order_detail_id" jdbcType="INTEGER" property="orderDetailId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="coffee_id" jdbcType="INTEGER" property="coffeeId" />
    <result column="coffee_name" jdbcType="VARCHAR" property="coffeeName" />
    <result column="transaction_price" jdbcType="DOUBLE" property="transactionPrice" />
    <result column="transaction_count" jdbcType="INTEGER" property="transactionCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Apr 05 21:12:04 CST 2020.-->
    order_detail_id, order_id, coffee_id, coffee_name, transaction_price, transaction_count
  </sql>

  <!--通过订单号查询订单详情-->
  <select id="selectOrderDetail" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from order_detail
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>

  <!--批量添加订单明细-->
  <insert id="addOrderDetail" parameterType="com.coffee.entity.OrdersEntity">
    insert into order_detail (order_id, coffee_id, coffee_name, transaction_price, transaction_count)
    values
    <!-- collection:表示需要遍历的集合名称 -->
    <!-- item:声明临时变量，用于保存每次循环时，集合中的元素 -->
    <!-- separator:表示分隔符 -->
    <foreach collection="orderDetailEntityList" item="orderDetail" separator=",">
      (#{orderId},#{orderDetail.coffeeId},#{orderDetail.coffeeName},#{orderDetail.transactionPrice},#{orderDetail.transactionCount})
    </foreach>
  </insert>

</mapper>