<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coffee.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.coffee.entity.UsersEntity">
    <!--@mbg.generated generated on Thu Dec 19 13:54:44 CST 2019.-->
    <!--@Table users-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_birthday" jdbcType="TIMESTAMP" property="userBirthday" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_hphoto" jdbcType="VARCHAR" property="userHphoto" />
    <result column="user_status" jdbcType="INTEGER" property="userStatus" />
    <result column="jdiction_id" jdbcType="INTEGER" property="jdictionId" />
    <result column="consignee_information_id" jdbcType="INTEGER" property="consigneeInformationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Dec 19 13:54:44 CST 2019.-->
    user_id, user_name, user_password, user_sex, user_birthday, user_email, user_hphoto, 
    user_status, jdiction_id, consignee_information_id
  </sql>
</mapper>